<section class="h-100 h-custom" style="background-color: #f93d3d">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div
          class="card card-registration card-registration-2"
          style="border-radius: 15px"
        >
          <div class="card-body p-0">
            <div class="row g-0">
              <div class="col-lg-8">
                <div class="p-5">
                  <p class="OrderTitle">YOUR ORDER IS ON IT'S WAY TO YOU !!</p>

                  <div class="pt-5">
                    <a href="/" class="ODButton conf">Back to shop</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 bg-grey">
                <div class="p-5 section">
                  <img
                    src="assets/img/hero-img.png"
                    class="img-fluid"
                    alt="centered image"
                    data-aos="zoom-out"
                    data-aos-delay="300"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>