<header id="header" class="header fixed-top d-flex align-items-center py-6" style="height:150px ;">

    <div class="container d-flex align-items-center justify-content-between">
       
     <a href="index.html" class="logo d-flex align-items-center me-auto me-lg-0">
       <img src="../assets/img/Logo.png" alt="Avatar Logo" style="width:125px; height:200px;" class ='logo' >
       <!-- <img src="assets/img/logo.png" alt=""> -->
       <!-- <h1>Yummy<span>.</span></h1> -->
     </a>
 
     <nav id="navbar" class="navbar" style="height: 100 px;">
       <ul>
         <li><a href="#hero">Home</a></li>
         <li><a routerLink="/AboutUs"
                routerLinkActive="active">About</a></li>
         <li><a routerLink="/restaurants"
                routerLinkActive="active">Restaurants</a></li>
         <li><a routerLink="/OrderCard"
                routerLinkActive="active">My Card</a></li>
         <li><a routerLink="/ContactUs"
                routerLinkActive="active">Contact</a></li>
       </ul>
     </nav><!-- .navbar -->
 
     <a class="btn-book-a-table" href="#book-a-table"> Admin</a>
     <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
     <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
 
   </div>
 
   </header>
